<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu API</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="titulo">
            <h1>Menú de la API</h1>
            <h3>El GET está en JSON y como .csv en la carpeta del proyecto y para cargar productos hay que subir un csv con el formato</h3>
            <h5>(Está el print por consola para el GET de igual forma y dejé un csv con productos random para probar)
            </h5>
        </div>
        <form class="form" action="api/data" method="post">
            <label for="file-upload" class="custom-file-upload">
                1.a. Seleccionar Nuevos Productos
            </label>
            <input id="file-upload" type="file" name="csvfile" value="">
            <input class="custom-file-upload" type="submit" name="" value="1.b. Cargar Nuevos Productos">
        </form>

        <form class="" action="api/data" method="get">
            <input class="custom-file-upload" type="submit" name="" value="2. Consultar Productos">
        </form>
    </div>
</body>

</html>