<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Index</title>
    
</head>

<body>
    <div class="wrapper">
        <div class="titulo">
            <h1>El Archivo ha sido procesado con éxito</h1>
            <h3>Vuelva al menú principal para consultar los datos en la api</h3>
        </div>
        <input class="custom-file-upload" type="button" value="Volver al Menú" onclick="history.back()">
        <!--<form class="form" action="menu" method="get">
            <input class="custom-file-upload" type="submit" name="" value="Volver al Menú">
        </form>-->
    </div>
</body>

</html>